* {
  top: 0;
  left: 0;
  font-family: "Golos Text", sans-serif;
  font-size: 110%;
  color: white;
}

html {
  background-color: #1f2722;
}

.container {
  display: flex;
}

/* Vertical header */
.header {
  background-color: #2a4e3a;
  display: flex;
  /* Find out how to adjust height for individual screen size */
  width: 600px;
  height: 700px;
  position: sticky;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* The following changes the orientation of the links. */
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

#nav-bar {
  margin: 10px;
}
/* End of vertical header */

/* Controls main content */
.main {
  margin-left: 20px;
  margin-right: 20px;
}
/* End of main */

/* Controls top of page */
.top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: url(images/Banner-5.jpg);
}

#intro {
  text-align: center;
  height: max-content;
  align-self: center;
}

img {
  width: 400px;
  height: 400px;
  border: solid;
  border-radius: 50%;
  margin: 15px;
}

button {
  border: none;
  color: black;
  background-color: white;
  padding: 2.5px 10px;
  border-radius: 1em;
}
/* End of top of page */

footer {
  background-color: #2a4e3a;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}

.social-container {
  display: flex;
  justify-content: space-between;
  font-size: small;
  padding: 20px; 
}

.copyright {
  font-weight: lighter;
  font-size: 12px;
}
