.container {
  display: flex;
}
/* Vertical header */
.header {
  background-color: #5E5E5E;
  width: 150px;
}

/* End of vertical header */





/* Controls top of page */
.top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}


