* {
  top: 0;
  left: 0;
  font-family: sans-serif;
  font-size: 110%;
}

.container {
  display: flex;
}
/* Vertical header */
.header {
  background-color: #5e5e5e;
  display: flex;
  /* Find out how to adjust height for individual screen size */
  width: 600px;
  height: 700px;
  position: sticky;
  
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* The following changes the orientation of the links. */
  writing-mode: vertical-lr;
  text-orientation: mixed;
}
#nav-bar {
  margin: 10px;
}

/* End of vertical header */

/* Controls top of page */
.top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
}
