* {
  margin: 0px;
  padding: 0px;
  font-family: "Bebas Neue", cursive;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  /* Minimize negative effects of adding margins & padding later */
}

body {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  height: 100vh;
  width: 20%;
  position: fixed;
  background-color: #0b0b0b;
  display: flex;
  align-items: center;
  text-align: center;
  writing-mode: vertical-lr;
  text-orientation: upright;
  color: #acae89;
  filter: drop-shadow(.75em .75em 1em black);
}

.names {
  font-size: 100%;
  font-weight: bold;
}

.names a:hover {
  border: 1px solid rgb(74, 145, 74);
  font-size: 125%;
  box-shadow: 2px 2px 2px rgb(74, 145, 74);
}

.content {
  height: 100%;
  margin-left: 20%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 4%;
  padding-right: 3%;
  scroll-snap-align: start;
}

.about {
  background-image: url(images/markus-spiske-FXFz-unsplash1.jpg);
  display: flex;
  flex-direction: column;
  align-items: end;
  color: white;
  padding-left: 40%;
  font-size: 160%;
  text-align: end;
}

.typewriter {
  display: inline-block;
}

.about div h1 {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;  
  overflow: hidden;
  white-space: nowrap;
  width: 0px;
  animation: typing_animation 2.5s steps(18, end) forwards;
}

@keyframes typing_animation {
  from {width: 0;}
  to {width: 100%;}
}

.typewriter {
  animation: cursor 1s linear 2.5s infinite;
}

@keyframes cursor {
  0% {border-right: 5px solid;}
  50% {border-right: 5px hidden;}
  100% {border-right: 5px solid;}
}

.about h2 {
  font-size: 110%;
  font-weight: lighter;
  color: gray;
  padding-top: .75rem;
  animation: appear 1.5s 2.5s 1 forwards;
  opacity: 0;
}

.about p {
  padding-top: 2rem;
  padding-bottom: 2rem;
  animation: appear 1.5s 4s 1 forwards;
  opacity: 0;
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

button {
  border: none;
  color: black;
  background-color: white;
  padding: 3px 13px;
  border-radius: 1em;
  font-size: 2rem;
  animation: appear 1.5s 5s 1 forwards;
  opacity: 0;
}

button:hover {
  background-color: #0b0b0b;
  color: white;
}

.education {
  background-color: #444939;
  
  display: flex;
  flex-direction: column;
}

.education-content {
  justify-content: center;
}
.skills {
  background-color: #79865b;
  display: flex;
  flex-direction: column;
}
.projects {
  background-color: #acae89; */
  display: flex;
  flex-direction: column;
}
.experience {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.contact {
  background-color: #96a257;
  display: flex;
  flex-direction: column;
}
.contact_info {
  display: flex;
}

.contact_form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-style: solid
}

.contact_data, textarea {
  padding: 1em;
}

.socials {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10rem;
  padding-left: 2rem;
  text-align: right;
  border-style: solid;
}

.fa-brands,
.fa-sharp {
  color: #0b0b0b;
  font-size: 140%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#section-title {
  padding: 2rem;
}

/* The following section covers content not on the LMS*/

/*Scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #8e8f7b;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #131313;
}



/* ----------------------------Mobile---------------------- */

@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
  .about {
    padding-left: 20%;
  }
  .about div h1 {
    font-size: 1.1rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
  }
  .about h2 {
    font-size: 1.1rem;
  }
  button {
    font-size: 1.2rem;
  }
.about p {
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #section-title {
    padding: 0.5rem;
  }

  h3 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-size: 1rem;
  }

  .education, .skills, .experience, .projects {
    text-align: center;
  }
}
/* ----------------------------Tablet---------------------- */
@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/

    .names {
      font-size: 110%;
    }

    .education, .skills, .experience, .projects {
      text-align: center;
      font-size: 1.5rem;
    }

    h3 {
      padding-bottom: 0.8rem;
      padding-top: 0.8rem;
    }
}

/* ----------------------------Desktop---------------------- */
@media screen (max-width: 1215px) {
}

/* ----------------------------Widescreen---------------------- */
@media screen (max-width: 1400px) {
}

/* ----------------------------Full HD---------------------- */
@media screen (min-width: 1401px) {
}