
/* background-color: #E98A15; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    color: #012622;
    text-align: center;
}

body {
    background-color: #ECE5F0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ---------------------------------NAVIGATION---------------------------- */

.navigation {
    background-color: white;
    font-size: 115%;
    padding: 1rem .2rem;
    border: .1em solid #012622;
}

.navigation a:link {
    text-decoration: none;
}

nav ul {
    display: grid;
    justify-content: center;
}

/* ---------------------------------CONTENT--------------------------- */

main {
    width: 70%;
    display: flex;
    align-items: center;
}
/* Side content */
.side {
    height: 75vh;
    width: 65vw;
    border: .1em solid #012622;
    background-color: white;
    display: grid;
    align-items: center;
    font-size: 180%;
}

.resume-title {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.resume-title p {
    margin-top: 1rem;
    color: grey;
}


/* Main */
.content {
    font-size: 130%;
    height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
    border: .1em solid #012622;
    background-color: white;
}

.content-section {
    margin: 5rem;
}


/* ----------------------------------FOOTER--------------------------- */
footer {
    background-color: white;
    font-size: 200%;
}

.socials {
    border: .1rem solid #012622;
    background-color: #49E753;
}

.fa-brands {
    font-size: 120%;
}

#copyright {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    color: white;
    background-color: #012622;
    border: .1rem solid #012622;
}

/* ---------------------------------SCROLL-BAR------------------------ */

::-webkit-scrollbar {
    width: .5rem;
  }

  ::-webkit-scrollbar-track {
    background: #ECE5F0;
  }

  ::-webkit-scrollbar-thumb {
    background: #012622;
    border-radius: 1rem;
  }