* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

body {
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ---------------------------------HEADER---------------------------- */

nav ul li {
    border: .2em solid grey;
    background-color: white;
    text-align: center;

}

nav ul {
    display: grid;
    justify-content: center;
}

/* ---------------------------------CONTENT--------------------------- */

main {
    width: 75%;
    display: flex;
    align-items: center;
}

.side {
    width: 35%;
    height: 120%;
    border: .2em solid black;
}

.content {
    border: .2em solid black;
    height: 100%;
}


/* ----------------------------------FOOTER--------------------------- */
footer {
    background-color: yellowgreen;
    width: 5rem;
}