* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* Minimize negative effects of adding margins & padding later */
}

nav {
    height: 100vh;
    width: 200px;
    position: fixed;
    background-color: lime;
}

.content {
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    height: 100%;
    margin-left: 200px;
}

.page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}


.about {
    background-color: palevioletred;
}
.education {
    background-color: brown;
}
.skills {
    background-color: burlywood;
}
.projects {
    background-color: lavender;
}
.experience {
    background-color: skyblue;
}