* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* Minimize negative effects of adding margins & padding later */
}

nav {
    height: 100vh;
    width: 200px;
    position: fixed;
    background-color: #79865B;
    display: flex;
    flex-direction: column;
    text-align: center;
}

i.fa-sharp {
    font-size: 100%;
    color: #012622;
    padding: 1rem;
    width: 7rem;
    height: 7rem;
    justify-self: center;
  }

.content {
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    height: 100%;
    margin-left: 200px;
}

.page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4%;
    padding-right: 3%;
}


.about {
    background-image: url(images/Banner-000.jpg);
}
.education {
    background-color:  #ACAE89;
    display: flex;
    flex-direction: column;
}

.education-content {
    justify-content: center;
}
.skills {
    background-color: #2E533B;
    display: flex;
    flex-direction: column;
}
.projects {
    background-color: #012611;
    display: flex;
    flex-direction: column;
}
.experience {
    background-color: #96A257;
    display: flex;
    flex-direction: column;
}

h2 {
    padding: 2rem;
}