* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* Minimize negative effects of adding margins & padding later */
}

nav {
    height: 100vh;
    width: 200px;
    position: fixed;
    background-color: grey;
    display: flex;
    flex-direction: column;
    text-align: center;
}

i.fa-sharp {
    font-size: 100%;
    color: #012622;
    padding: 1rem;
    width: 7rem;
    height: 7rem;
    justify-self: center;
  }

.content {
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    height: 100%;
    margin-left: 200px;
}

.page {
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
}


.about {
    background-image: url(images/Banner-000.jpg);
}
.education {
    background-color: brown;
    display: flex;
    flex-direction: column;
}
.skills {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
}
.projects {
    background-color: lavender;
    display: flex;
    flex-direction: column;
}
.experience {
    background-color: skyblue;
    display: flex;
    flex-direction: column;
}