* {
  background-color: #1f2722;
  color: white;
  font-family: sans-serif;
  font-size: 110%;
}

agi {
  color: #9cb0a3;
  text-decoration: none;
  /* Above removes underline from links. */
}

img {
  border-radius: 50%; /*Changes border to rounded.*/
}

.banner {
  background-image: url("images/Banner-(4).jpg");
  text-align: center;
}

#intro {
  background: transparent;
}

nav {
  text-align: center;
  background-color: #2a4e3a;
  
}

#experience {
  background-color: #2a4e3a;
}

.experience {
  background-color: #2a4e3a;
}

#projects {
  background-color: #2a4e3a;
}

.projects {
  background-color: #2a4e3a;
}
