* {
  margin: 0px;
}
html  {
  background-color: #ECE5F0;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 12%;
}

/* Navigation bar rules */
.navbar {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

nav {
  display: flex;
  flex-direction: column;
  text-align: center;
}

i.fa-sharp, #mepic {
  font-size: 300%;
  color: #012622;
  padding: 1rem;
  width: 7rem;
  height: 7rem;
  justify-self: center;
  background-color: white;
  border-style: solid;
  border-color: #ECE5F0;
  border-width: 0.1rem;
}
#names {
  background-color: white;
  font-size: 20%;
  padding: 1rem;
}
/* End of navigation bar */


/* Rules for content */
.content {
  background-color: white;
  color: #012622;
  padding: 5rem;
  text-align: center;
}

.resume-title {
  margin-bottom: 2.5rem;
  font-size: 2em;
}

h1.resume-title {
  font-size: 5em;
}

h4.resume-title {
  color: #548970;
}

h2 {
  margin: 3rem;
}

h3 {
  margin: 1rem;
}

/* End of content */


/* Rules for social bar */
.socials {
  list-style: none;
}

#copyright {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

i.fa-brands {
  font-size: 130%;
  color: #012622;
  padding: 0;
}
/* End of social bar */