* {
  margin: 0px;
  padding: 0px;
  font-family: "Bebas Neue", cursive;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  /* Minimize negative effects of adding margins & padding later */
}
a {
  text-decoration: none;
  color: white;
}

header {
  position: fixed;
}

nav {
  background-color: #0b0b0b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #acae89;
}

nav a {
  font-size: 150%;
  font-weight: bold;
}

.content {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.page {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.about {
  background-image: url(images/Banner-000.jpg);
  display: flex;
  flex-direction: column;
  align-items: end;
  color: white;
  font-size: 160%;
  text-align: end;
}

.about h2 {
  font-size: 110%;
  font-weight: lighter;
  color: gray;
  padding-top: .75rem;
}

.about h1 {
  padding-top: 2rem;
}

.about p {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

button {
  border: none;
  color: black;
  background-color: white;
  padding: 3px 13px;
  border-radius: 1em;
  font-size: 2rem;
}

.education {
  background-color: #acae89;
  display: flex;
  flex-direction: column;
}

.education-content {
  justify-content: center;
}
.skills {
  background-color: #2e533b;
  display: flex;
  flex-direction: column;
}
.projects {
  background-color: #79865b;
  display: flex;
  flex-direction: column;
}
.experience {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.contact {
  background-color: #96a257;
  display: flex;
  flex-direction: column;
}
.contact_info {
  display: flex;
}

.contact_form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-style: solid;
  border-width: 1px;
}

.contact_data, textarea {
  padding: 1em;
}

.socials {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10rem;
  padding-left: 2rem;
  text-align: right;
  border-style: solid;
  border-width: 1px;
}

.fa-brands,
.fa-sharp {
  color: #0b0b0b;
  font-size: 140%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#section-title {
  padding: 2rem;
}

/* The following section covers content not on the LMS*/

/*Scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #8e8f7b;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #131313;
}


